$primary-color: #500fe9;
$background-color: #f3f5f9;
$tBorder-color: #eaebef;
$input-color: #fafbff;
$inputBorder-color: #d1d1d1;
$calcBorder-color: #a786f7;
$changeIcon-hover: #f1ebff;
$calc-background: #fff;

@font-face {
  font-family: "Estedad-Regular";
  src: url(../assets/fonts/Estedad/ttf/Estedad-Regular.ttf);
}
@font-face {
  font-family: "Estedad-Thin";
  src: url(../assets/fonts/Estedad/ttf/Estedad-Thin.ttf);
}
@font-face {
    font-family: "Estedad-Bold";
    src: url(../assets/fonts/Estedad/ttf/Estedad-Bold.ttf);
  }
body {
    background-color: $calc-background;

}
body, input, select{
  font-family: Estedad-Regular ;
  h1 {
    margin-top: 70px;
    font-family: Estedad-Bold;
    text-align: center;
  }
  #header {
    color: #fff;
    font-size: 30px;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    background-color: #3100AA;
    width: 100%;
    text-align: center;
    border-radius: 0px 0px 10px 10px;
    height: 50px;
    box-shadow: 0px 0px 3px 1px $primary-color;
  }
  .calcBody {
    background-color: $calc-background;
    border: solid 2px $calcBorder-color;
    border-radius: 18px;
    padding: 10px 0;
    box-shadow: 0px 0px 11px 4px #f1ebff;
    .dropDown {
      appearance: none;
      border: 0;
      outline: none;
      border-radius: 8px;
      background-color: $input-color;
      width: -webkit-fill-available;
      padding: 5px 5px 5px 0px;
    }
    .inputCurrency {
      border: 1px solid $inputBorder-color;
      border-radius: 10px;
      opacity: 0.5;
      outline: none;
    }
    .convertIcon:hover {
      background-color: $changeIcon-hover;
    }
  }
  table {
    background-color: white;
    margin-bottom: 70px;
    .tableHeader:hover {
        background-color: $calc-background;
    }
    .tableHeader:first-child:hover {
        background-color: $background-color;
        cursor: auto;
    }
    .searchDiv {
      display: flex;
      align-items: center;
      border: 1px solid $inputBorder-color;
      border-radius: 7px 7px 7px 7px;
      margin: 8px 5px;
    }
    .searchDiv:hover {
      background-color: $background-color;
    }
    .searchInput {
      background-color: transparent;
      outline: none;
      border: none;
    }
    .searchInput:focus {
      border-color: #e1e1e1;
    }
    .theadRow {
      border: 2px solid $tBorder-color;
      height: 45px;
      background-color: $background-color;
    }
    .tbodyRows {
      border-bottom: 2px solid $tBorder-color;
      height: 45px;
    }
  }
  #footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: #ffffff;
    background-color: #181818;
    box-shadow: 1px 2px 6px 1px $primary-color;
  }
}
