@font-face {
  font-family: "Estedad-Regular";
  src: url(../assets/fonts/Estedad/ttf/Estedad-Regular.ttf);
}

@font-face {
  font-family: "Estedad-Thin";
  src: url(../assets/fonts/Estedad/ttf/Estedad-Thin.ttf);
}

@font-face {
  font-family: "Estedad-Bold";
  src: url(../assets/fonts/Estedad/ttf/Estedad-Bold.ttf);
}

body {
  background-color: #fff;
}

body, input, select {
  font-family: Estedad-Regular;
}

body h1, input h1, select h1 {
  margin-top: 70px;
  font-family: Estedad-Bold;
  text-align: center;
}

body #header, input #header, select #header {
  color: #fff;
  font-size: 30px;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  background-color: #3100AA;
  width: 100%;
  text-align: center;
  border-radius: 0px 0px 10px 10px;
  height: 50px;
  -webkit-box-shadow: 0px 0px 3px 1px #500fe9;
          box-shadow: 0px 0px 3px 1px #500fe9;
}

body .calcBody, input .calcBody, select .calcBody {
  background-color: #fff;
  border: solid 2px #a786f7;
  border-radius: 18px;
  padding: 10px 0;
  -webkit-box-shadow: 0px 0px 11px 4px #f1ebff;
          box-shadow: 0px 0px 11px 4px #f1ebff;
}

body .calcBody .dropDown, input .calcBody .dropDown, select .calcBody .dropDown {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  outline: none;
  border-radius: 8px;
  background-color: #fafbff;
  width: -webkit-fill-available;
  padding: 5px 0px;
}

body .calcBody .inputCurrency, input .calcBody .inputCurrency, select .calcBody .inputCurrency {
  border: 1px solid #d1d1d1;
  border-radius: 10px;
  opacity: 0.5;
  outline: none;
}

body .calcBody .convertIcon:hover, input .calcBody .convertIcon:hover, select .calcBody .convertIcon:hover {
  background-color: #f1ebff;
}

body table, input table, select table {
  background-color: white;
  margin-bottom: 70px;
}

body table .tableHeader:hover, input table .tableHeader:hover, select table .tableHeader:hover {
  background-color: #fff;
}

body table .tableHeader:first-child:hover, input table .tableHeader:first-child:hover, select table .tableHeader:first-child:hover {
  background-color: #f3f5f9;
  cursor: auto;
}

body table .searchDiv, input table .searchDiv, select table .searchDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #d1d1d1;
  border-radius: 7px 7px 7px 7px;
  margin: 8px 5px;
}

body table .searchDiv:hover, input table .searchDiv:hover, select table .searchDiv:hover {
  background-color: #f3f5f9;
}

body table .searchInput, input table .searchInput, select table .searchInput {
  background-color: transparent;
  outline: none;
  border: none;
}

body table .searchInput:focus, input table .searchInput:focus, select table .searchInput:focus {
  border-color: #e1e1e1;
}

body table .theadRow, input table .theadRow, select table .theadRow {
  border: 2px solid #eaebef;
  height: 45px;
  background-color: #f3f5f9;
}

body table .tbodyRows, input table .tbodyRows, select table .tbodyRows {
  border-bottom: 2px solid #eaebef;
  height: 45px;
}

body #footer, input #footer, select #footer {
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  color: #ffffff;
  background-color: #181818;
  -webkit-box-shadow: 1px 2px 6px 1px #500fe9;
          box-shadow: 1px 2px 6px 1px #500fe9;
}
/*# sourceMappingURL=global.css.map */