body {
  direction: rtl;
}

@media only screen and (min-width: 600px) {
  .pairCurrency {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .pairCurrency {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
    align-items: center;
  }
}

table {
  border-collapse: collapse;
  text-align: center;
  border-radius: 15px 15px;
  box-shadow: 0 2px 15px -6px rgb(0 0 0 / 50%);
  width: -webkit-fill-available;
}
.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.tbodyRows:last-child {
  border-bottom: none;
}
/* hr {
    width: 461%;
    height: 12px;
    border: 0;
    box-shadow: inset 0 12px 12px -12px rgb(0 0 0 / 50%);
} */
.numericTd {
  padding-left: 20px;
  min-width: 120px;
  text-align: start;
}
.searchInput {
  /* background-color: transparent;
  border-radius: 10px 10px;
  margin-bottom: 5px; */
  margin: 5px 20px;
  padding: 10px;
}
.marketBaseDisplayBtn {
  background-color: transparent;
  border: 1px solid transparent;
  cursor: pointer;
}
.marketBaseDisplay {
  margin: 8px 0;
}
.marketBaseDisplayBtn:hover {
  border-bottom: 1px solid #e1e1e1;
}
.marketBaseDisplayBtnSelected {
  border-bottom: 1px solid #484848 !important;
}
.currency {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: inherit;
}
.star:hover {
  cursor: pointer;
}
.starOn {
  margin-bottom: -4px;
}
.starOff {
  margin-bottom: -4px;
}
.favoriteOn {
  background-color: orange;
}
.favoriteOff {
  background-color: white;
}
.tableHeader {
  text-align: start;
  padding-left: 20px;
  min-width: 120px;
}
.tableHeader:hover {
  cursor: pointer;
}
.ascending::after {
  content: "▲";
}
.decending::after {
  content: "▼";
}
.posetive {
  color: green;
}
.posetive::before {
  content: "+";
}
.negetive {
  color: red;
}
.calcBody {
  margin-bottom: 30px;
  text-align: center;
  /* display: flex;
  flex-direction: column; */
  /* width: fit-content; */
}
.baseCurrency {
  display: flex;
  flex-direction: column;
}
.baseCurrencyReverse {
  order: 3;
}
.convertIcon {
  cursor: pointer;
  padding: 10px 13px;
  border-radius: 100px;
  border: none;
}

.convertIconReverse {
  order: 2;
}

.quoteCurrency {
  display: flex;
  flex-direction: column;
}
.quoteCurrencyReverse {
  order: 1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: fit-content;
}
.inputCurrency {
  margin: 5px 0;
}
.currencyParts {
  margin: 5px 20px;
  padding: 10px;
}
